:root {
  --main-padding: 16px;
}

.container {
  width: 100%;
  border: 1px solid rgb(211, 211, 211);
  padding: var(--main-padding) 0;
  border-radius: 8px;
}

.header {
  padding: 0 var(--main-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-content img {
  width: 48px;
  margin-right: 16px;
}

.header-small-icon {
  width: 24px;
  height: 24px;
}

.body {
  padding: 0 var(--main-padding);
}

.body img {
  width: 100%;
  height: "auto";
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: grey;
  padding: 0 var(--main-padding);
}

.likes-field {
  display: flex;
  justify-content: space-between;
}

.likes-field .likes-img {
  padding-right: 4px;
  width: 20px;
}

.date-field {
  width: 80%;
}

.footer img {
  width: 20px;
  height: 20px;
}

.comments {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 var(--main-padding);
}

.comments .comments-arrow-icon {
  width: 20px;
  height: 20px;
}

.comments-field {
  display: flex;
  justify-content: space-between;
}

.comments-field img {
  margin-right: 4px;
  width: 20px;
}

.comments-url {
  width: 80%;
}

.photo-container {
  border: 1px solid rgb(211, 211, 211);
  margin-bottom: 16px;
  border-radius: 16px 16px;
}

.photo-container img {
  border-radius: 16px 16px 0px 0px;
}

.photo-description {
  padding-left: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.photo-description a {
  color: grey;
}

hr {
  border-top: 1px solid rgb(211, 211, 211);
}

.comments-field div {
  padding-right: 8px;
}

.header-content .verified-icon {
  width: 24px;
}
